<% @game.teams.each_with_index do | team, index | %>
  <% players = team.players.map { |player| player.name } %>
  <% current_player = @game.current_player.name %>

  <div
    class="team-roster"
    id="team-<%= index %>"
  >
  </div>

  <script type="text/jsx">
    React.render(
      <TeamRoster
        currentPlayer={"<%= current_player %>"}
        name={"<%= team.name %>"}
        players={<%= players %>}
        startTurnUrl={"<%= @start_turn_url %>"}
      />,
      document.getElementById("team-<%= index %>")
    );
  </script>
<% end %>


